<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="EVENT_SOCIAL_NETWORKConnectionString" connectionString="workstation id=EventSocialNetwork.mssql.somee.com;packet size=4096;user id=hoangnam;pwd=nhn29121992;data source=EventSocialNetwork.mssql.somee.com;persist security info=False;initial catalog=EventSocialNetwork"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <appSettings>
    <add key="AppID" value="137972113000238"/>
    <add key="AppSecret" value="cd26e88d6dc66f3ac48448db48cbbab9"/>
    <add key="Redirect_URI" value="http://localhost:4063/EventSocialNetwork/personalpage.aspx"/>
    <add key="Confirm_URL" value="http://localhost:4063/EventSocialNetwork/thongbao.aspx"/>

    <add key="State" value="ESN"/>
    <add key="Scope" value="user_photos,email,user_birthday,user_online_presence"/>
  </appSettings>
</configuration>