h2#txtHeader
{
    padding-top: 50px;
    color: #003366;
    margin-left: 15px;
}

hr
{
    margin-top: 15px;
    color: #003366;
    background: #003366;
    padding-bottom: 3px;
}

div#changePwd
{
    margin-top: 8px;
}

td
{
    color: #003366;
    font-weight: bold;
}

.btnAccept, .btnCancel
{
    border: 0;
    -webkit-border-radius: 8px;
    height: 22px;
    color: White;
    background: #003366;
    width: 80px;
}

.btnAccept
{
    margin-left: 15px;
}

.btnAccept:hover, .btnCancel:hover
{
    text-decoration: underline;
}