*
{
    margin: 0;
    padding: 0;
}

div#container
{
    width: 100%;
}

/*HEADER*/
div#bg_header
{
    background: #d11349;
}

div#header
{
    width: 1024px;
    height: 80px;
    margin: 0 auto;
    background: url(../images/logo.gif) no-repeat;
    position: relative;
}

img#imgLogin
{
    position: absolute;
    left: 400px;
    top: 30px;
}

div#login
{
    position: absolute;
    left: 600px;
    top: 30px;
}

#emailLogin, #passLogin
{
    color: White;
}
#lnkLogin
{
    top: 25px;
    left: 315px;
    position: absolute;
    width: 100px;
    display: block;
    text-decoration: none;
    color: White;
    font-weight: bold;
    text-align: center;
    background: white;
    color: #d11349;
}
#lnkLogin:hover
{
    background: #990033;
    color: white;
}
#recoverPass
{
    position: absolute;
    display: block;
    padding-top: 3px;
    text-decoration: none;
    color: #ffcccc;
    font-size: 0.9em;
}

#recoverPass:hover
{
    text-decoration: underline;
}
/*CONTENT*/
div#bg_content
{
    background: url(../images/bg_content.jpg) repeat-x;
}

div#content
{
    width: 1024px;
    height: 520px;
    margin: 0 auto;

}
div#primary
{
    width: 750px;
    float: left;
    position: relative;
    height: 100%;
}

div#sidebar
{
    float: left;
    width: 270px;
    height: 100%;
}

/*FOOTER*/
div#bg_footer
{
    clear: both;
    background: #990033;
}

div#footer
{
    width: 1024px;
    height: 60px;
    margin: 0 auto;
}

#copyright
{
    color: white;
}

img#img_footer
{
    padding-top: 15px;
    width: 40px;
    height: 15px;
}
