table
{
    width: 250px;
}
#avatar
{
    width: 40px;
    height: 50px;
}
#txtInfo
{
    width: 150px;
}
#txtName
{
    color: #003366;
}
.Button1
{
    background: #003366;
    border: 1px solid #003366;
    width: 50px;
    color: White;
    height: 22px;
    -webkit-border-radius: 10px;
}
.Button2
{
    background: #003366;
    border: 1px solid #003366;
    width: 90px;
    color: White;
    height: 22px;
    -webkit-border-radius: 10px;
}
.Button1:hover, .Button2:hover
{
    text-decoration: underline;
}
